<div class="attorna-body-outer-wrapper ">
    <div class="attorna-body-wrapper clearfix  attorna-with-frame">
        <div class=attorna-top-bar>
            <div class=attorna-top-bar-background></div>
            <div class="attorna-top-bar-container attorna-container ">
                <div class="attorna-top-bar-container-inner clearfix">
                    <div class="attorna-top-bar-left attorna-item-pdlr"><i class="fa fa-phone" style="font-size: 15px ;color: #b1976b ;margin-right: 10px ;"></i>{{site.data.homepage.telefone}}
                        <div style="margin-left: 12px; margin-right: 14px; display: inline;">&#183;</div><i class="fa fa-envelope-open-o" style="font-size: 14px ;color: #b1976b ;margin-right: 10px ;"></i><a href=mailto:{{site.data.homepage.email}}>{{site.data.homepage.email}}</a>
                        <div style="margin-left: 10px; margin-right: 13px; display: inline;">&#183;</div><i class=icon_clock_alt style="font-size: 15px ;color: #b1976b ;margin-right: 10px ;"></i>{{site.data.homepage.horario}}</div>
                        <a class=attorna-top-bar-right-button href={{site.data.homepage.link_whatsapp}} target=_self><i class="fa fa-comment-o" style="color: #fff" ></i>Consulte via Whatsapp</a>
                    <div class="attorna-top-bar-right attorna-item-pdlr">
                        <div class=attorna-top-bar-right-social><a href=# target=_blank class=attorna-top-bar-social-icon title=facebook><i class="fa fa-facebook" ></i></a>
                        <a href="#" target=_blank class=attorna-top-bar-social-icon title=linkedin><i class="fa fa-linkedin" ></i></a>
                        <a href="#" target=_blank class=attorna-top-bar-social-icon title=pinterest><i class="fa fa-pinterest-p" ></i></a>
                        <a href="#" target=_blank class=attorna-top-bar-social-icon title=twitter><i class="fa fa-twitter" ></i></a>
                        <a href="www.instagram.com.br/fariaselopes" target=_blank class=attorna-top-bar-social-icon title=instagram><i class="fa fa-instagram" ></i></a></div> 
                    </div>
                </div>
            </div>
        </div>